@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster+Two&family=Playfair+Display&display=swap');

.carousel-inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

}

.linebr{
  border: 1px solid black;
}

.linebr1{
  border: 1px solid white;
}

.navbar{
  background-color: white;
  box-shadow: 0px 1px 1px 0px black;
  width: inherit;
}

.navbar-brand{
  font-family: 'Lobster Two', cursive;;
  font-size: 2rem;
}


.nav-link{
  font-family: 'Playfair Display', serif;;
  font-weight: bold !important;
  color: black;
  margin: 5px 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

}

.nav-item{
  position: relative;
}

.nav-link:after{
  content: "";
  position: absolute;
  background-color: #000000;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.nav-link:hover{
  color: #000;
}
.nav-link:hover:after{
  width: 100%;
}

.section{
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
}


.inner-main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.intdsg1{
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.intro-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 5rem;
  font-family: 'Lobster Two', cursive;;
  width: max-content;
  height: max-content;
  padding: 10px 60px 10px 20px;
  color: #000;
}

.intro-img{
  width: 450px;
}

.intro-chat-btn{
  font-size: 2rem;
  width: 200px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  transition: 0.25s;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.int-icon{
  padding-right: 10px;
  font-size: 2rem;
}

/* And from the left */
.intro-chat-btn:hover,
.intro-chat-btn:focus {
  color: white;
  box-shadow: inset 6.5em 0 0 0 black;
  transition: all 0.5s ease-in-out;
}



.intdsg2{
  height: max-content;
}

.mouse-btn {
  margin: -70px auto;
  padding: 0;
  width: 20px;
  height: 40px;
  border: 4px solid var(--color);
  border-radius: 30px;
  display: flex;
  border:1px solid rgb(0, 0, 0);
}

.mouse-btn .mouse-scroll {
  display: block;
  width: 10px;
  height: 10px;
  background: linear-gradient(170deg, rgba(46, 46, 46, 0.918), rgb(0, 0, 0));
  border-radius: 50%;
  border:1px solid #ffffff;
  margin: auto;
  z-index: 1;
  animation: scrolling 1s linear infinite;
}


@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

.inner-main2{
  width: 100%;/*vw*/
  height: max-content;
  padding: 0;
  margin: 0;
}

.headingsdg
{
  margin-top: 100px;
  padding: 10px 50px;
  font-size: 4rem;
  height: max-content;
  font-family: 'Lobster Two', cursive;;
  color: #000;
}

.spinner-border {
  font-size: 1rem;
}

.rwcontent{
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.imgCategory{
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 20px 50px;/*0*/
}
/* v */
/* v */
.imgCategory:hover{
  transform: scale(1.05);
}
.catName{
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  /* background-color: #141414;
  color: #ffffff; */
}

.catimg{
  width: 100%;
}

.test{
  width: 100%;
}

.catbtn{
  font-family: 'Libre Baskerville', serif;
  background-color: black;
  color: white;
  padding: 10px 0;
  border-radius: 0;
}
.modal {
  padding: 0;
}

.modalhead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lobster Two', cursive;;
  color: #000;
}

.modal-dialog {
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
  width: 80% !important;
  height: 50%;
}


.modalcont{
  display: flex;
}

.crdsg{
  width: 60%;
}

.crcont{
  width: 50%;
  padding: 10px;
}

.crcont span {
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
}


.inner-main3{
  width: 100%;/*vw*/
  height: max-content;
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
}

.abcont{
  padding: 10px 50px;/*0*/
  font-family: 'Libre Baskerville', serif;;
  text-transform: capitalize;
  color: #000;
}

.inner-main4{
  width: 100%;/*vw*/
  height: max-content;
  padding: 0;
  margin: 0;
  padding-bottom:  100px ;
}

.ctcont{
  padding: 10px 50px;/*10*/
  font-family: 'Libre Baskerville', serif;;
  color: #000;
}

.headingsdg1{
  margin-top: 0px;

}

.contenttext{
  padding: 10px 20px;
}


/*
}
 */
@media (min-width: 100px) and (max-width: 575px) {
  .inner-main{
    margin: 100px 0 0 0;
  }
  .intro-text {
    font-size: 4rem;
  }
  .intdsg1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .mouse-btn {
    display: none;
  }
  .headingsdg,
  .abcont,
  .ctcont{
    padding: 10px 20px;
  }
  .imgCategory{
    padding: 20px 20px;
  }
  .imgCategory:hover{
    transform: none;
  }
  .catName{
    font-size: 1.5rem;
  }
  iframe {
    width: 20rem;
  }
  .modalcont {
    display: flex;
    flex-direction: column;
  }
  .crdsg{
    width: 100%;
  }

  .crcont{
    width: 100%;
    padding: 10px;
  }
}

/* // Small devices (landscape phones, 576px and up) .4
4*/
@media (min-width: 576px) and (max-width: 767.9px) {
  .intro-text {
    font-size: 4rem;
  }
  .intdsg1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .mouse-btn {
    display: none;
  }
  .headingsdg,
  .abcont,
  .ctcont{
    padding: 10px 20px;
  }
  .imgCategory{
    padding: 20px 20px;
  }
  .imgCategory:hover{
    transform: none;
  }
  .catName{
    font-size: 1.5rem;
  }
  iframe {
    width: 20rem;
  }
  .modalcont {
    display: flex;
    flex-direction: column;
  }
  .crdsg{
    width: 100%;
  }

  .crcont{
    width: 100%;
    padding: 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.9px) {
  .inner-main{
    margin: 50px 0 0 0;
  }
  .imgCategory{
    padding: 20px 20px;
  }
  .imgCategory:hover{
    transform: none;
  }
 }

/* // Large devices (desktops, 992px and up)1 */
@media (min-width: 992px) and (max-width: 1199.9px) {
  .imgCategory{
    padding: 20px 20px;
  }
  .imgCategory:hover{
    transform: none;
  }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.9px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px){  }
